DATABASE_URL="postgresql://institute:institute@localhost:5432/institute_os?schema=public"
PORT=4000
JWT_ACCESS_SECRET="change-me-access"
JWT_REFRESH_SECRET="change-me-refresh"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"
S3_ENDPOINT="http://localhost:9000"
S3_ACCESS_KEY="institute"
S3_SECRET_KEY="institute123"
S3_BUCKET="institute-os"


DATABASE_URL=postgresql://institute:lGXPGuGsTKQuF23BGKbQZ2oldH0rU5WP@postgres:5432/institute_os
POSTGRES_PASSWORD=lGXPGuGsTKQuF23BGKbQZ2oldH0rU5WP
PORT=4000
JWT_ACCESS_SECRET=l160K06a+2IPgFKrDZ81kb7u78aqbVrQ
JWT_REFRESH_SECRET=yEGYOBK0STUbbDlTBSEVmvVyJ6vb+xEQ
S3_ENDPOINT=https://bmgt9l61rl2n.compat.objectstorage.ap-mumbai-1.oraclecloud.com
S3_ACCESS_KEY=0044afe2a55af522a45be95662e2cda013552df6
S3_SECRET_KEY=kihNGMYoY2xUt32dHb0+WlFbI7xeWXtCrDu8eAWt4Ys=
S3_BUCKET=institute-os-photos
ADMIN_SEED_PASSWORD=admin123


Postgres PWD:- lGXPGuGsTKQuF23BGKbQZ2oldH0rU5WP
JWT_ACCESS_SECRET=l160K06a+2IPgFKrDZ81kb7u78aqbVrQ
JWT_REFRESH_SECRET=yEGYOBK0STUbbDlTBSEVmvVyJ6vb+xEQ

Deploy SSH Key
-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACBUYA+SELOeHDMU4FvJ8J3IYHkvheYueYQXfXaL3oRjzwAAAKjhiasE4Ymr
BAAAAAtzc2gtZWQyNTUxOQAAACBUYA+SELOeHDMU4FvJ8J3IYHkvheYueYQXfXaL3oRjzw
AAAEAlXWi5TyzT/V9elF/0AO/ecypyE78Rw7vm0eNlpUsk4FRgD5IQs54cMxTgW8nwnchg
eS+F5i55hBd9dovehGPPAAAAHmRlcGxveUBpbnN0aXR1dGUtbm9kZS1pbnN0YW5jZQECAw
QFBgc=
-----END OPENSSH PRIVATE KEY-----
